<div class="container order mx-auto bg-gray-100 pb-10">
    <h1 class="text-xl p-3">All Orders</h1>
        

    <table class="w-full border-4 border-purple-100 border-opacity-100 table-auto bg-white p-4">
        <thead>
            <tr class="px-4 py-2 text-left">
                <th class="border px-4 py-2 text-center">Orders</th>
                <th class="border px-4 py-2 text-center">Items</th>
                <th class="border px-4 py-2 text-center">Customer Name</th>
                <th class="border px-4 py-2 text-center">Address</th>
                <th class="border px-4 py-2 text-center">Phone</th>
                <th class="border px-4 py-2 text-center">Status</th>                
                <th class="border px-4 py-2 text-center">Time</th>                

            </tr>
        </thead>
        <tbody id="orderBody">
            
        </tbody>
    </table>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
    </script>
